.container{
    width:80%;
    height:100%;
    /*padding:20px;*/
    border:1px solid gray;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background: black;
}
.slider_wrapper{
    overflow: hidden;
    position:relative;
    height:100%;
    top:auto;
}
#image_slider{
    position: relative;
    height: auto;
    list-style: none;
    overflow: hidden;
    float: left;
    /*Chrom default padding for ul is 40px */
    padding:0;
    margin:0;
}
#image_slider li{
    position: relative;
    float: left;
}
.nvgt{
    position:absolute;
    margin-top: 10%;
    top: 120px;
    height: 50px;
    width: 30px;
    opacity: 0.6;
}
.nvgt:hover{
    opacity: 0.9;
}
#prev{
    background: #000 url('../images/ico-arrow-left.png') no-repeat center;
    left: 0;
}
#next{
    background: #000 url('../images/ico-arrow-right.png') no-repeat center;
    right: 0;
}